@keyframes aurora-shift {
  0% {
    background-image: radial-gradient(108% 108% at 50% 0%, #000212 50%, #488dff 85%);
  }
  50% {
    background-image: radial-gradient(108% 108% at 50% 0%, #000212 50%, #88465e 85%);
  }
  100% {
    background-image: radial-gradient(108% 108% at 50% 0%, #000212 50%, #488dff 85%);
  }
}

.aurora-bg {
  animation: aurora-shift 6s ease-in-out infinite;
}
