#ufoContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100px;

    z-index: -1;
    width: 6vw;
    opacity: 0;
    animation: moveUFO 8s linear forwards;
}

@keyframes moveUFO {
    0% {
        opacity: 1;
        transform: translate(0, 90vh) ;
    }
    10% {
        transform: translate(22.5vw, 67.5vh) ;
    }
    20% {
        transform: translate(45vw, 45vh) ;
    }
    30% {
        transform: translate(67.5vw, 22.5vh) ;
    }
    
    40%, 100% {
        transform: translate(90vw, 0);
        opacity: 0;
        display: none;
    }
}
